{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block main %}
  <div class="block content">
  <div class="title" style="height: auto;box-sizing: border-box;width:70%;margin:auto;">
  {{ aposArea(page, 'leftTitle', {
          textOnly: true,
          styles: [
            { value: 'h3', label: 'Title' }
          ]
        }) }}
  </div>
    <div class="inner" style="display: flex;">
      <div class="video" style="flex: 0 0 65%;padding-right:20px;">
      	{{ aposSingleton(page, 'videoleft', 'video') }}
      	{% if (edit) and aposSingletonIsEmpty(page, 'videoleft', 'video') %}
 			 <script src="//fast.wistia.com/embed/medias/gx7zphe8u9.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_gx7zphe8u9 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
		{% endif %}
      </div>
      <div class="text" style="flex: 1;">
      	{{ aposSingleton(page, 'formVideoLeft', 'html') }}
        {{ aposArea(page, 'homepageText', {
          textOnly: true,
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' }
          ]
        }) }}
     </div>
     </br>
	
</div>
	<div class="text" style="width: 100%;height: auto;padding: 50px;box-sizing: border-box;">
	{{ aposArea(page, 'videoLeftBelowText', {
          textOnly: true,
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' }
          ]
        }) }}
	</div>
	</div>
       
{% endblock %}
